//mixin start

@mixin main-title {
    font-weight: 700;
    font-size: 50px;
    color: #000;
    text-transform: uppercase;
}

//mixin end

// main start

html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    display: block;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    
    font-size: 16px;
    font-weight: 400;
}


a{
    padding: 0;
    color: inherit;
    text-decoration: none;
    li{
        margin: 0;
    }
}

ul{
    padding: auto;
    li{
        margin-top: 0;
        list-style: none;
    }
}
span{
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 600;
}
h2{
    @include main-title;
}  
.container-header{
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 10px;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.burger-btn{
    width: 30px;
    height: 50px;
    opacity: 0;
    transition: all .3s;
    cursor: pointer;
    margin-right: 50px;
    margin-top: 25px;
    .burger-line{
        background-color: wheat;
        width: 30px;
        height: 2px;
        margin: 5px 0;
    }
    &:hover{
        transform: scale(1.1 ,1.1);
    }
}
// main end

//header start

.header{
    background-color: #1c1c1a;
    color: #fff;
    padding-top: 30px;
    background-image: url(../img/h1_hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 120px;
    .header__inner-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        margin-bottom: 165px;
        .nav{
            ul{
                display: flex;
                justify-content: flex-end;
                margin-bottom: -42px;
                li + li{
                    margin-left: 35px;
                }
            }
        }
        .header__logo{
            text-transform: uppercase;
            font-size: 25px;
            display: flex;
            align-items: center;
            img{
                margin-right: 10px;
                margin-top: -10px;
            }
        }
        .header__btn{
            
            button{
                background-color: #e57373;
                border: none;
                padding: 25px 60px;
                text-transform: uppercase;
                font-size: 14px;
                cursor: pointer;
                color: #fff;
                border-radius: 5px;
                transition:  all .3s;
                &:hover{
                    background-color: #af804d;
                }
            }
        }
        .header__inner-links{
            transition: all .3s linear ;
            position: relative;
            &::before{
                content: '';
                width: 10px;
                height: 1px;
                background-color: rgba(255, 255, 255, .0);
                position: absolute;
                top: -10px;
                left: 30px;
                transform: rotate(120deg);
                transition: all .5s;
            }
            &::after{
                content: '';
                width: 10px;
                height: 1px;
                background-color: rgba(255, 255, 255, .0);
                position: absolute;
                top: 32px;
                left: 8px;
                transform: rotate(120deg);
                transition: all .5s;
            }
        }
        .header__inner-links:hover{
            color: #9c8a76;
            &::before{
                background-color: rgba(156, 138, 118, ); 
            }
            &::after{
                background-color: rgba(156, 138, 118, ); 
            }

        }
    }
    .header__inner-title{
        margin-left: 100px;
        margin-bottom: 10px;
        .header__inner-author{
            p{
                color: #a19076;
                margin-bottom: 35px;
                font-size: 25px;
                text-transform: uppercase;
            }
        }
        .header__inner-main-text{
            h1{
                font-family: 'Oswald', sans-serif;
                font-size: 60px;
                font-weight: 700;
                width: 60%;
                text-transform: uppercase;
                line-height: 1.4;
            }
        }
    }
    .header__inner-opacity-text{
        font-size: 122px;
        font-weight: 700;
        -webkit-text-stroke: 1px rgba(255,255,255,0.1);
        color: rgba(000, 000, 000, .1);
    }

    .header__inner-down-btn{
        display: flex;
        justify-content: end;
        opacity: 0.6;
        // padding: 0 100px 0 0;
        button{
            padding: 35px 75px  30px 50px;
            background-color: rgba(209,159,104,0.7);
            border: none;
            cursor: pointer;
            border-radius: 5px;
            font-weight: 700;
            text-transform: uppercase;
            transition: all .3s;
            &:hover{
                background-color: #9c8a76 ;
            }
        }
    }

}

//header end 

//experience start

.exp {
    margin-bottom: 110px;
    &__inner{
        
        position: relative;
        &::before{
            content: '';
            background-image: url(../img/about-shape.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 60%;
            height: 100%;
            position: absolute;
            top: 29%;
            left: 40%;
            z-index: -1;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-right-content{
            margin-left: 50px;
            p{
                font-weight: 300;
                line-height: 30px;
            }
            p + p{
                margin-top: 30px;
                margin-bottom: 30px;
                
            }
        }
    }
}



//experience end

//service start

.service {
    margin-bottom: 110px;
    &__inner{
        text-align: center;
        .service__title{
            width: 60%;
            margin: 0 auto 60px;
        }
        &-content{
            display: flex;
            justify-content: space-between;
            color: #10285d;
            &-item{
                width: 30%;
                line-height: 30px; 
                background-color: #f8f8f8;
                display: flex;
                flex-direction: column;
                padding: 40px 10px;
                z-index: 1;
                &:hover{
                    i{
                        background-color: #d19f68;
                        &::after{
                            right: -65%;
                        }
                    }
                }
                i{
                padding: 20px;
                background-color: #1c252e;
                display: inline-block;
                width: 60px;
                height: 60px;
                margin: 0 auto 25px;
                position: relative;
                transition: all .9s;
                border-radius: 3px;
                &::before{
                    color: #fff;
                }
                &::after{
                    content: '';
                    position: absolute;
                    background-image: url(../img/dot.png);
                    top: -36%;
                    right: -45%;
                    width: 74px;
                    height: 88px;
                    z-index: -10;
                    transition: all .3s;
                    }
                }
                span{
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 25px;
                }  
            }
            
        }
    }
}

//service end

//team start

.team {
    padding-bottom: 75px;
    &__inner{
        &-title{
            width: 68%;
            margin: 0 auto 60px;
            text-align: center;
        }
        &-content{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            &-item{
                img{
                    transform: scale(1.0 , 1.0);
                    transition: all .5s;
                    margin:  0 auto;
                }
                &::before{
                    background-image: url(../img/team_bg.png);
                }
                &:hover{
                    img{
                        transform: scale(1.1, 1.1);
                    }
                    &::before{
                        background-image: url(../img/team_bg2.png);
                    }
                }
                margin: 0 auto;
                .team__img-text{
                    position: relative;
                    z-index: 10;
                    margin-top: -52px;
                    padding-top: 10px;
                    padding-bottom: 27px;
                    text-align: center;
                    text-transform: uppercase;
                    &::before{
                        position: absolute;
                        content: '';
                        background-image: url(../img/team_bg.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        top: -69px;
                        left: 17px;
                        width: 87%;
                        height: 156px;
                        z-index: - 5;
                        transition: all .5s;
                    }
                    &:hover{
                        &::before{
                            background-image: url(../img/team_bg2.png);
                        }
                    }
                    
                    span{
                        display: block;
                        color: #8e8e8e;
                        font-size: 14px;
                        margin-top: -10px;
                    }
                    span + span{
                        color: #fff;
                        font-size: 16px;
                    }
                }
                &:hover{
                    .team__img-text{
                        &::before{
                            background-image: url(../img/team_bg2.png);
                        }
                    }
                }
            }
        }

    }
    .slick-dots{
        display: flex;
        justify-content: center;
        font-size: 0;
        padding: 20px;

            li{
                button{
                   background-color: #bebebe;
                   border: none;
                   margin: 0 2px;
                   height: 5px;
                   width: 15px;
                   cursor: pointer;
                   &:hover{
                       background-color: #cba16f;
                   }
                }
            }

    }
}


//team end

//price start

.price {
    background-color: #fffbf8;
    
    &__inner{
        padding: 200px 0 150px;
        position: relative;
        &::before{
            content: '';
            background-image: url(../img/pricing1.png);
            background-repeat: no-repeat;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0%;
            left: -30%;
        }    
        &-content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-left{
              z-index: 10;  
            }
            &-right{
                width: 70%;
                margin-left: 50px;
                margin-top: -30%;
                .price__inner-content-title{
                    width: 98%;
                    margin: 120px auto 0;
                }
                .price__inner-content-list{
                    display: flex;
                    font-weight: 600;
                    .price__right-col{
                        margin-left: 20px;
                    }
                    
                    .price__inner-content-item{
                        width: 100%;
                        margin-bottom: 15px;
                        font-size: 15px;
                        span{
                            color: #d19f68;
                        }
                    }
                }
            }
        }
    }
}


//price end

//gallery start

.gallery {
    padding: 130px 0;
    &__inner{
        &-title{
            width: 58%;
            margin: 0 auto 65px;
            text-align: center;
        }
        &-content{          
            &-up{
                display: grid;
                gap: 10px;
                grid-template-columns: 1fr 2fr;
                grid-template-rows: 1fr;
            }
            &-down{
                display: grid;
                gap: 10px;
                grid-template-columns: 2fr 1fr;
                grid-template-rows: 1fr;
            }
            .gallery__inner-content-item{
                width: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    padding: 10px 10px;
                    transition: all .5s;
                    &:hover{
                        transform: scale(1.05 ,1.05);
                    }
                }
            }
        }
    }
}

//gallery end

//review start

.review{    
    background-color: #131313;
    color: #fff;
    padding: 120px 80px;
    background-image: url(../img/section_bg02.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__inner{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-item{
            width: 90% !important;
            line-height: 30px;
            padding: 0 50px;
            i{
                padding: 15px;
                border: 1px solid #fff;
                border-radius: 50%;
                transition: all .3s;
            }
            p{
                padding-bottom: 25px;
                border-bottom: 1px solid #fff;
                height: 100px;
            }
            a{
                color: #e57373;
                border-bottom: 0px solid #131313;
                transition: all .3s;
                &:hover{
                    border-bottom: 1px solid #e57373;
                }
            }
            &:hover{
                i{
                    color: #e57373;
                    border: 1px solid #e57373;
                }
            }
        }
    }
    .slick-dots{
        display: flex;
        justify-content: center;
        font-size: 0;
        padding: 20px;
        position: absolute;
        top: 100%;
        left: 45%;
            li{
                button{
                   background-color: #bebebe;
                   border: none;
                   margin: 0 2px;
                   height: 5px;
                   width: 15px;
                   cursor: pointer;
                   &:hover{
                       background-color: #cba16f;
                   }
                }
            }

    }
}

//review end

//blog start

.blog{
    padding: 120px 0;
    &__inner{
        &-title{
            width: 56%;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 60px;
        }
        &-content{
            display: flex;
            justify-content: space-between;
            &-item{
                border: 1px solid #f7f7f7;
                padding-bottom: 40px;
                transition: all .5s;
                &:hover{
                    border: 1px solid #d19f68;
                }
                span{
                    display: block;
                    margin-left: 38px;
                    margin-top: 30px;
                    color: #707b8e;
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        height: 12px;
                        width: 1px;
                        background-color: #707b8e;
                        top: 15%;
                        left: -8px;
                    }
                }
                a{
                    font-size: 24px;
                    font-weight: 700;
                    margin-left: 30px;
                    transition: all .3s;
                    &:hover{
                        color: #d19f68;
                    }
                }
                img{
                    width: 100%;
                }
            }
        }
    }
}

//blog end

//footer start

.footer {
    background-color: #121212;
    color: #6c6c6c;
    padding: 100px 0 40px;
    &__inner{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-content-up{
            display: flex;
            justify-content: space-between;
            padding-bottom: 80px;
            border-bottom: 1px solid #232426;
            &-item{
                display: flex;
                flex-direction: column;
                .footer__logo{
                    display: flex;
                    align-items: center;
                    margin-bottom: 25px;
                    span{
                        color: #fff;
                        font-size: 25px;
                        margin-bottom: -20px;
                        margin-left: 10px;
                    }
                }
                h3{
                    color: #fff;
                    margin-bottom: 30px;
                }
                a{
                    margin-top:20px;
                    transition: all .3s;
                    &:hover{
                        color: #fff;
                    }
                }
            }
            .footer__left-item{
                p{
                    margin-bottom: 20px;
                }
                a{
                    font-size: 25px;
                    color: #fff;
                    border-bottom: 1px solid #121212;
                    width: 70%;
                    padding-bottom: 5px;
                    &:hover{
                        border-bottom: 1px solid #fff;
                    }
                    span{
                        font-size: 25px;
                        color: #d19f68;
                    }
                }
                a + a{
                    font-size: 15px;
                    color: #707b8e;
                    padding-bottom: 10px;
                }
            }
            .footer__right-item{
                p{
                    width: 70%;
                    line-height: 25px;
                }
                form{
                    input{
                        background-color: #101721;
                        border: none;
                        outline: none;
                        padding: 10px 15px;
                        color: #fff;
                    }
                    button{
                        background-color: #070e18;
                        color: #d19f68;
                        border: none;
                        padding: 10px 15px;
                        cursor: pointer;
                        margin-left: -5px;
                        transition: all .3s;
                        &:hover{
                            background-color: #132f51;
                        }
                    }
                }
            }
        }
        &-content-down{
            padding-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .footer__social-links{
                a + a{
                    margin-left: 15px;
                }
                a{
                    i{
                        transition: all .2s;
                    }
                }
                a:hover{
                    i{
                        transform: scale(1.1, 1.1);
                        color: #fff;
                    }
                }
            }
        }
    }
}

//footer end

//media start
@media (max-width:1240px){
    .price{
        .price__inner{
            .price__inner-content-right{
                .price__inner-content-list{
                    flex-direction: column;
                    .price__right-col{
                        margin-left: 0;
                        margin-top: -17px;
                    }
                }
            }
        }
    }
    .blog{
        .blog__inner{
            .blog__inner-content{
                .blog__inner-content-item + .blog__inner-content-item{
                    margin-left: 10px;
                }
            }
        }
    }
    
}
@media(max-width:1040px){
    .header{
        .header__inner-menu{
            display: flex;
            justify-content: space-between;
            .nav{
                display: flex;
                // justify-content: space-between;
                // width: 100%;
                
                .header__ul{
                    opacity: 1;
                    display: none;
                    .header__inner-links{
                        // padding-right: 100px;
                        // margin-right: 200px;
                        // padding: 0 100px 5px 100px;
                        // background-color: #fff;
                        color: #fff;
                        border-radius: 10px;
                        &:hover{
                            color: #af804d;
                            &::before,
                            &::after{
                                opacity: 0;
                                display: none;
                            }
                        }
                        
                    }
                    
                    li + li{
                        margin-left: 0;
                    }
                }
            }
        }
        .header__inner-opacity-text{
            font-size: 80px;
        }
        .header__btn{
            display: none;
        }
    }
    .burger-btn{
        opacity: 1;
        display: block;
    }
    .exp{
        .exp__inner-right-content{
            span{
                font-size: 15px;
            }
            h2{
                font-size: 30px;
            }
        }
    }
    .service{
        .service__title{
            width: 100%;
            margin: 0;
            span{
                font-size: 15px;
            }
            h2{
                font-size: 30px;
            }
        }
    }
    .team{
        .team__inner{
            .team__inner-title{
                width: 100%;
                margin:  0;
                span{
                    font-size: 15px;
                }
                h2{
                    font-size: 30px;
                }
            }
        }
    }
    .price{
        .price__inner{
            &::before{
                content: none;
            }
            .price__inner-content-right{
                .price__inner-content-title{
                    span{
                        font-size: 15px;
                    }
                    h2{
                        font-size: 30px;
                    }
                }
            }
            .price__inner-content-left{
                img{
                    width: 100%;
                }
            }
        }
    }
    .gallery{
        .gallery__inner{
            .gallery__inner-title{
                width: 100%;
                margin: 0 auto;
                span{
                    font-size: 15px;
                }
                h2{
                    font-size: 30px;
                }
            }
        }
    }
    .review{
        .review__inner{
            .review__inner-item{
                height: 200px;
                width: 100%;
                p{
                    height: 150px;
                }
            }
        }
    }
    .blog{
        .blog__inner{
            .blog__inner-title{
                span{
                    font-size: 15px;
                }
                h2{
                    font-size: 30px;
                }
            }
            .blog__inner-content{
                .blog__inner-content-item{
                    a{
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .footer{
        .footer__inner{
            .footer__inner-content-up{
                flex-wrap: wrap;
                // width: 50%;
                .footer__inner-content-up-item{
                    flex-basis: 40%;
                    margin-left: 50px;
                    
                }
                .footer__right-item{
                    form{
                        button{
                            padding: 10px 80px ;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:870px){
    .header{
        .header__inner-title{
            margin-left: 50px;
            .header__inner-author{
                p{
                    font-size: 20px;
                }
            }
            .header__inner-main-text{
                h1{
                    width: 100%;
                    font-size: 40px;
                }
            }
        }
        .header__inner-opacity-text{
            font-size: 50px;
        }
        
    }
    .exp{
        .exp__inner{
            flex-direction: column;
            text-align: center;
            .exp__inner-right-content{
                margin-top: 20px;
                margin-left: 0;
            }
        }
    }
    .team{
        .team__inner{
            .team__inner-content{
                .team__inner-content-item{
                    .team__img-text{
                        &::before{
                            left: 20%;
                            width: 60%;
                        }
                    }
                    // .team__img{
                    //     img{
                    //         width: 100%;
                    //     }
                    // }
                }
            }
        }
    }
    .price{
        .price__inner{
            padding: 60px 0;
            .price__inner-content{
                flex-direction: column;
                .price__inner-content-left{
                    width: 50%;
                    padding-bottom: 150px;
                }
                .price__inner-content-right{
                    margin-left: 0;
                    .price__inner-content-title{
                        text-align: center;
                    }
                    .price__inner-content-list{
                        text-align: start;
                        .price__inner-content-item{
                            margin: 20px 0;
                        }
                    }
                }
            }
        }
    }
    .review{
        .review__inner{
            .review__inner-item{
                p{
                    height: 100px;
                }
            }
        }
    }
}
@media (max-width:720px){
    .footer{
        .footer__inner{
            .footer__inner-content-up{
                .footer__inner-content-up-item{
                    margin-left: 0;
                    flex-basis: 100%;
                    .footer__logo{
                        margin-bottom: 20px;
                        span{
                            position: relative;

                        }
                        img{
                            position: absolute;
                            left: 65%;
                        }
                    }
                    h3{
                        font-size: 25px;
                        margin: 10px auto;
                    }
                    a{
                        font-size: 25px;
                        margin: 7px auto;
                        width: auto;
                    }
                    p{
                        margin: 10px auto;
                        text-align: center;
                    }
                    form{
                        margin: 0 auto;
                    }
                    span{
                        margin: 0 auto;
                    }
                    // img{
                    //     margin: 0 auto;
                    // }
                }
            }
        }
    }
}
@media(max-width:650px){
    .header{
        .header__inner-menu{
            margin-bottom: 40px;
        }
        .header__inner-down-btn{
            button{
                width: 100%;
            }
        }
    }
    .exp{
        .exp__inner-right-content{
            h2{
                font-size: 20px;
            }
            span{
                font-size: 15px;
            }
        }
    }
    .service{
        .service__title{
            h2{
                font-size: 20px;
            }
            span{
                font-size: 15px;
            }
        }
        .service__inner-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin: 0 auto;
            .service__inner-content-item{
                width: 80%;
                margin: 10px 0;
                span{
                    font-size: 16px;
                    margin-bottom: 5px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
    .team{
        .team__inner{
            .team__inner-title{
                span{
                    font-size: 15px;
                }
                h2{
                    font-size: 20px;
                }
            }
        }
    }
    .price{
        .price__inner{
            .price__inner-content-right{
                .price__inner-content-title{
                    span{
                        font-size: 15px;
                    }
                    h2{
                        font-size: 20px;
                    }
                }
            }
            .price__inner-content-left{
                padding-bottom: 100px;
            }
        }
    }
    .gallery{
        .gallery__inner{
            .gallery__inner-title{
                span{
                    font-size: 15px;
                }
                h2{
                    font-size: 20px;
                }
            }
            .gallery__inner-content{
                .gallery__inner-content-item{
                    img{
                        padding: 5px 0;
                    }
                }
            }
        }
    }
    .review{
        padding: 50px 60px;
        .review__inner{
            .review__inner-item{
                padding: 0;
                p{
                    font-size: 14px;
                   
                }
            }
        }
    }
    .blog{
        padding: 20px 70px ;
        .blog__inner{
            .blog__inner-title{
                margin-bottom: 0;
                span{
                    font-size: 15px;
                }
                h2{
                    font-size: 20px;
                }
            }
        }
        .blog__inner{
            .blog__inner-content{
                flex-direction: column;
                .blog__inner-content-item{
                    margin-top: 10px;
                }
                .blog__inner-content-item + .blog__inner-content-item{
                    margin-left: 0;
                }
            }
        }
    }
    .footer{
        .footer__inner{
            .footer__inner-content-down{
                flex-direction: column;
                .footer__copyright{
                    text-align: center;
                }
            }
        }
    }
}
@media(max-width:530px ){
    .header{
        .header__inner-menu{
            .nav{
                .header__ul{
                    .header__inner-links{
                        margin-right: 0;
                        padding: 0;
                    }
                }
            }
        }
        .burger-btn{
            margin-left: -12px;
            margin-right: 0;
        }
        .header__inner-opacity-text{
            font-size: 35px;
        }
        
    }
    .exp{
        .exp__inner{
            .exp__inner-left-content{
                img{
                    width: 100%;
                }
            }
            .exp__inner-right-content{
                p{
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
    }
    .service{
        .service__inner-content{
            .service__inner-content-item{
                width: 100%;
            }
        }
    }
    .team{
        .team__inner{
            .team__inner-content{
                .team__inner-content-item{
                    img{
                        width: 100%;
                        text-align: center;
                        align-items: center;
                    }
                    .team__img-text{
                        background-color: rgba(255,255,255, .5);
                        border-radius: 10px;
                        span{
                            color: #000;
                            
                        }
                        &::before{
                            margin: 0 auto;
                            content: none;
                        }
                    }
                }
            }
        }
    }
    .price{
        .price__inner{
            .price__inner-content{
                .price__inner-content-left{
                    width: 100%;
                    padding-bottom: 50px;
                }
            }
        }
    }
    .gallery{
        padding: 50px 0;
    }
    .review{
        .review__inner{
            .review__inner-item{
                p{
                    height: 120px;
                }
            }
        }
    }
    .blog{
        padding: 20px 30px;
        .blog__inner{
            .blog__inner-content{
                .blog__inner-content-item{
                    a{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .footer{
        .footer__inner{
            .footer__inner-content-up{
                .footer__inner-content-up-item{
                    .footer__logo{
                        img{
                            left: 69%;
                        }
                    }
                    form{
                        input{
                            width: 100%;
                        }
                        button{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:400px){
    .header{
        .header__inner-title{
            margin-left: 30px;
            .header__inner-author{
                p{
                    font-size: 15px;
                }
            }
            .header__inner-main-text{
                h1{
                    width: 100%;
                    font-size: 30px;
                }
            }
        }
        .header__inner-opacity-text{
            font-size: 25px;
        }
        .header__inner-down-btn{
            button{
                font-size: 14px;
            }
        }
    } 
    .review{
        .review__inner{
            .review__inner-item{
                p{
                    height: 150px;
                }
            }
        }
    }
    .blog{
        padding: 15px 5px 10px 5px;
    }
}
@media(max-width:350px){
    .review{
        .review__inner{
            .review__inner-item{
                p{
                    height: 205px;
                }
            }
        }
    }
    .blog{
        .blog__inner{
            .blog__inner-content{
                .blog__inner-content-item{
                    span{
                        margin-left: 25px;
                    }
                    a{
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}
//media end